
body {
  width: 80%;
  margin: 0 auto;
  font-family: 'Philosopher', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ececec;
  margin-top: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-wrapper-midle{
  background-color: burlywood;
}

a{
  color: #000 !important;
  text-decoration: none;
}
button{
  border:none;
  outline: none;
  padding: 3px;
  border-radius: 3px;
  background: #cecece;
}
button:focus{
  border:none;
  outline: none;
}
button:hover{
  cursor: pointer;
  background: #ffd633;
}

textarea {
	/* = Убираем скролл */
	overflow: auto;

	/* = Убираем увеличение */
	resize: none;
	width: 300px;
	height: 50px;

	/* = Добавим фон, рамку, отступ*/
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 8px 0 0 0;
	padding: 8px 0 8px 10px;
}

input{
  background: #f6f6f6;
	border: 1px solid #cecece;
}

.app_wrapper{
  min-height: 97vh;
  background: #fff;
}

/*стилизация полосы прокрутки*/
::-webkit-scrollbar-button {
  /* background-image:url('');
  background-repeat:no-repeat; */
  width:5px;
  height:0px
  }
  
  ::-webkit-scrollbar-track {
  background-color:#ecedee;
  }
  
  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: rgb(114, 114, 114);
  }
  
  ::-webkit-scrollbar-thumb:hover{
  background-color:#ffd633;
  }
  
  ::-webkit-resizer{
  /* background-image:url();
  background-repeat:no-repeat; */
  width:4px;
  height:0px
  }
  
  ::-webkit-scrollbar{
  width: 6px;
  } 